.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: 20px; /* Add padding to separate from right margin */
  position: relative;
}

.footer-link {
  color: #000;
  position: relative;
  margin-left: 20px;
}

.footer-button {
  margin: 0 2px;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.footer-button.email {
  margin-right: 100px; /* Mueve el bot칩n de mail un poco m치s a la derecha */
}

.footer-button.instagram {
  margin-right: 20px; /* Mueve el bot칩n de Instagram un poco m치s a la derecha */
}

.footer-copyright {
  flex: 1;
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding-right: 20px; /* Add padding to separate from right margin */
}
