body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Oculta el scroll horizontal */
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.vertical-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin-left: 80px; /* Alinea con la barra lateral */
  box-sizing: border-box;
  min-height: 100vh; /* Ocupa al menos el alto de la ventana */
  overflow: visible; /* Usa el scroll del body */
  flex-grow: 1;
  padding-right: 50px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #9d4edd);
}

.link {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: 0.5em;
  transition: background-color 300ms;
}

.link:hover {
  background-color: #ddd;
}

.contenido-principal {
  width: 100%;
  box-sizing: border-box;
  height: auto; /* Deja que crezca dinámicamente */
  min-height: 100vh; /* Ocupa al menos toda la pantalla */
}

.trabajar {
  text-align: left;
}

.trabajar h1 {
  font-size: 24px;
}

.trabajar a {
  color: #9d4edd;
}

.back-to-top-btn {
  border: 0.2px solid #000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
